#vs code stuff
.vscode/*
*.vscode

#except recommended extensions
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#test directory
test/

#hidden data
/bot/token.py